/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
@ico-atom-x: 107px;
@ico-atom-y: 178px;
@ico-atom-offset-x: -107px;
@ico-atom-offset-y: -178px;
@ico-atom-width: 73px;
@ico-atom-height: 62px;
@ico-atom-total-width: 249px;
@ico-atom-total-height: 242px;
@ico-atom-image: '../img/sprite-ico.png';
@ico-atom: 107px 178px -107px -178px 73px 62px 249px 242px '../img/sprite-ico.png';
@ico-code-x: 149px;
@ico-code-y: 93px;
@ico-code-offset-x: -149px;
@ico-code-offset-y: -93px;
@ico-code-width: 100px;
@ico-code-height: 68px;
@ico-code-total-width: 249px;
@ico-code-total-height: 242px;
@ico-code-image: '../img/sprite-ico.png';
@ico-code: 149px 93px -149px -93px 100px 68px 249px 242px '../img/sprite-ico.png';
@ico-computer-x: 149px;
@ico-computer-y: 0px;
@ico-computer-offset-x: -149px;
@ico-computer-offset-y: 0px;
@ico-computer-width: 100px;
@ico-computer-height: 83px;
@ico-computer-total-width: 249px;
@ico-computer-total-height: 242px;
@ico-computer-image: '../img/sprite-ico.png';
@ico-computer: 149px 0px -149px 0px 100px 83px 249px 242px '../img/sprite-ico.png';
@ico-mobile-chat-x: 0px;
@ico-mobile-chat-y: 0px;
@ico-mobile-chat-offset-x: 0px;
@ico-mobile-chat-offset-y: 0px;
@ico-mobile-chat-width: 139px;
@ico-mobile-chat-height: 168px;
@ico-mobile-chat-total-width: 249px;
@ico-mobile-chat-total-height: 242px;
@ico-mobile-chat-image: '../img/sprite-ico.png';
@ico-mobile-chat: 0px 0px 0px 0px 139px 168px 249px 242px '../img/sprite-ico.png';
@ico-ui-x: 0px;
@ico-ui-y: 178px;
@ico-ui-offset-x: 0px;
@ico-ui-offset-y: -178px;
@ico-ui-width: 97px;
@ico-ui-height: 64px;
@ico-ui-total-width: 249px;
@ico-ui-total-height: 242px;
@ico-ui-image: '../img/sprite-ico.png';
@ico-ui: 0px 178px 0px -178px 97px 64px 249px 242px '../img/sprite-ico.png';

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}
*/
.sprite-width(@sprite) {
  width: ~`"@{sprite}".split(', ')[4]`;
}

.sprite-height(@sprite) {
  height: ~`"@{sprite}".split(', ')[5]`;
}

.sprite-position(@sprite) {
  @sprite-offset-x: ~`"@{sprite}".split(', ')[2]`;
  @sprite-offset-y: ~`"@{sprite}".split(', ')[3]`;
  background-position: @sprite-offset-x  @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: ~`"@{sprite}".split(', ')[8].slice(1, -2)`;
  background-image: url(@sprite-image);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}
