{% extends "./nunj/layouts/master.nunj" %}
{% set title = "Home" %}

{% block content %}
	
	<hgroup>
		<h1>{{ title }}</h1>
		<p>Frontend Boilerplate</p>
	</hgroup>

	<p>
		<a target="_blank" href="https://bitbucket.org/digitalboxcc/sandbox-frontend-boilerplate/overview">
			https://bitbucket.org/digitalboxcc/sandbox-frontend-boilerplate/overview
		</a>
	</p>

{% endblock %}
